{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-*",
    "^@react-*",
    "^mobx-*",
    "^lodash*",
    "^dayjs*",
    "^date-fns*",
    "^lucide-*",
    "^leva*",
    "^@turf/*",
    "^@mui/*",
    "^@radix-*",
    "^geojson",
    "^class-variance-authority",
    "^@radix*",
    "^@dashboard$",
    "^@dashboard/.*$",
    "^@i18n",
    "^@state$",
    "^@state/.*$",
    "^@type/.*$",
    "^@style$",
    "^@context/.*$",
    "^@hooks/.*$",
    "^@utils/.*$",
    "^@constants/.*$",
    "^@components/.*$",
    "^@config/type/.*$",
    "^@config/style$",
    "^@config/context/.*$",
    "^@config/hooks/.*$",
    "^@config/utils/.*$",
    "^@config/i18n$",
    "^@config/constants/.*$",
    "^@config/components/.*$",
    "\\.(css|scss)$"
  ],
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false
}
